<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Stochastic Petri Net Simulator - Net Designer</title>

    <% include blocks/linter.ejs %>

    <script src="js/objects/drag-manager.js"></script>
    <script src="js/objects/petri.js"></script>
    <script src="js/net.js"></script>
</head>

<body>
    <% include blocks/load-files.ejs %>

    <div class="container-fluid h-100 d-flex flex-column p-0">
        <% include blocks/nav-bar.ejs %>

        <div class="row flex-fill m-0">
            <% include blocks/net-tools.ejs %>
            <div class="col hidden-md-down" id="sandbox"></div>
        </div>
    </div>
</body>

<script type="text/javascript">
    $('#navNetDesigner').addClass('active');
</script>

</html>