<!DOCTYPE html>

<head>
  <meta charset="UTF-8">

  <title>Stochastic Petri Net Simulator - Net Designer</title>

  <link rel="stylesheet" type="text/css" href="Content/jquery-ui.min.css" />
  <link rel="stylesheet" type="text/css" href="Content/site.css" />
  <link rel="stylesheet" type="text/css" href="Content/menu.css" />
  <link rel="stylesheet" type="text/css" href="Content/models.css" />
  <link rel="stylesheet" type="text/css" href="css/main.css" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <script type="text/javascript" src="Scripts/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="Scripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="js/files-manager.js"></script>
  <script type="text/javascript" src="js/history.js"></script>

  <script type="text/javascript" src="Scripts/App/helpers.js"></script>
  <script type="text/javascript" src="Scripts/App/reflection.helpers.js"></script>
  <script type="text/javascript" src="Scripts/App/Models/draggable.js"></script>
  <script type="text/javascript" src="Scripts/App/Models/place.js"></script>
  <script type="text/javascript" src="Scripts/App/Models/transition.js"></script>
  <script type="text/javascript" src="Scripts/App/Models/arc.js"></script>
  <script type="text/javascript" src="Scripts/App/Models/petri.net.js"></script>
  <script type="text/javascript" src="Scripts/App/petri.helpers.js"></script>
  <script type="text/javascript" src="Scripts/App/net.simulation.js"></script>
  <script type="text/javascript" src="Scripts/App/net.designer.js"></script>

  <script src="https://kit.fontawesome.com/df23cbfd18.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container-full d-flex flex-column h-100 p-0">
    <% include tabs/nav-bar %>

    <div class="row flex-fill m-0">
      <div class="sandbox flex-grow-1 m-0" id="sandbox"></div>
      <div class="stats-container bg-white shadow w-20 px-3 py-2 m-0 z-10">
        <div class="area-title">Statistics</div>
        <div class="stats"></div>
      </div>
    </div>

    <% include tabs/svg %>
    <% include tabs/popups %>
    <% include tabs/settings %>
  </div>
</body>

<script>
  $('#navbarDropdown').html('WebDESS NET');
  $('[aria-labelledby="navbarDropdown"]').html('<a class="dropdown-item" href="/model">WebDESS MODEL</a>');
</script>

</html>