<!DOCTYPE html>

<head>
  <% include tabs/header %>

  <script type="text/javascript" src="Scripts/App/net.simulation.js"></script>
  <script type="text/javascript" src="Scripts/App/net.designer.js"></script>
</head>

<body>
  <div class="container-full d-flex flex-column h-100 p-0">
    <% include tabs/nav/nav-bar %>

    <div class="row flex-fill m-0">
      <div class="sandbox flex-grow-1 m-0" id="sandbox"></div>
      <div class="stats-container bg-white shadow w-20 px-3 py-2 m-0 z-10">
        <div class="area-title">Statistics</div>
        <div class="stats"></div>
      </div>
    </div>

    <div id="editItemPopup" style="display: none"></div>
    <% include tabs/nav/svg %>

    <% include tabs/nav/code %>
    <% include tabs/nav/save %>
    <% include tabs/nav/open %>
    <% include tabs/nav/settings %>
  </div>
</body>

</html>
