<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Stochastic Petri Net Simulator - Net Designer</title>

    <% include blocks/linter.ejs %>
</head>

<body>
    <% include blocks/load-files.ejs %>

    <div class="container-fluid h-100 d-flex flex-column p-0">
        <% include blocks/nav-bar.ejs %>

        <div class="row flex-fill">
            <div class="col-auto hidden-md-down bg-light shadow-sm">
                <% include blocks/net-tools.ejs %>
            </div>
            <div class="col hidden-md-down sandbox"></div>
        </div>
    </div>
</body>

<script type="text/javascript">
    $('#navNetDesigner').addClass('active');
</script>

</html>