html,body {
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

svg {
  stroke: #333333;
  stroke-width: 2;
}

.sandbox-item {
  position: absolute;
}

.sandbox-object {
  border: 1px dashed rgba(0, 0, 0, 0);
  transition: border-color 0.25s ease;
}
.sandbox-object:hover {
  border: 1px dashed rgba(0, 123, 255, 0.25);
}
.sandbox-object.select {
  border: 1px dashed rgba(0, 123, 255, 1);
}
