html,body {
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

svg {
  stroke: #333333;
  stroke-width: 2;
}

.sandbox-item {
  position: absolute;
}

.sandbox-object {
  border: 1px dashed rgba(0, 0, 0, 0);
  transition: border-color 0.25s ease;
}
.sandbox-object:hover {
  border: 1px dashed rgba(0, 123, 255, 0.25);
}
.sandbox-object.select {
  border: 1px dashed rgba(0, 123, 255, 1);
}

.btn-circle {
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
}

.btn-item {
  position: absolute;
  background-color: rgba(0, 123, 255, 0);
  left: 23.5px;
  top: 47px;
}
.btn-item.active {
  background-color: rgba(0, 123, 255, 0.25);
}
.btn-item.active:hover {
  background-color: rgba(0, 123, 255, 1);
}
