<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">WebDESS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" id="navNetDesigner">
        <a class="nav-link" href="/">Net Designer</a>
      </li>
      <li class="nav-item" id="navModelDesigner">
        <a class="nav-link" href="/model">Model Designer</a>
      </li>
    </ul>

    <!-- <button class="btn my-2 my-sm-0 text-light" id="saveButton"><i class="fas fa-code fa-lg"></i></button> -->
    <button class="btn my-2 my-sm-0 text-light" id="code"><i class="fas fa-save fa-lg"></i></button>
  </div>
</nav>
