<div class="control-item">
    <span>Add: </span><br>
    <button id="addPlaceBtn" onclick="newPlace();">Place</button><br>
    <button id="addTransitionBtn">Transition</button><br>
    <button id="addArcBtn">Arc</button>
</div>
