<div id="editItemPopup" style="display: none"></div>
<div id="openNetPopup" title="Open a Petri Net" style="display: none">
  <div class="popup-line"><span class="popup-label">Net:</span><select id="openNetSelect"></select></div>
</div>
