<div id="editItemPopup" style="display: none"></div>
<div id="openNetPopup" title="Open a Petri Net" style="display: none">
  <div class="popup-line"><span class="popup-label">Net:</span><select id="openNetSelect"></select></div>
</div>
<div id="animationSettingsPopup" title="Animation Settings" style="display: none">
  <div class="popup-line">
    <span class="popup-label">Animation duration (ms):</span>
    <input type="number" id="animationDuration" min="10" value="1000" />
  </div>
  <div class="popup-line">
    <span class="popup-label">C.u. duration (ms):</span>
    <input type="number" id="cuDuration" min="10" value="1000" />
  </div>
</div>
<div id="programmingPopup" title="Net - Function Transformation" style="display: none">
  <div class="popup-line">
    <span class="popup-label long">Function:</span>
    <textarea id="functionText" placeholder="Function definition"></textarea>
  </div>
  <div class="popup-line">
    <span class="popup-label long">Invocation:</span>
    <textarea id="functionInvocation" placeholder="Invocation with specific arguments"></textarea>
  </div>
</div>
